# Data files
*.h5ad

# Logs and temporary files
scripts/preproc/lightning_logs
bash_scripts/*.log
scripts/slide_analysis/tutorial_outputs
scripts/slide_analysis/meta_cell_outputs
scripts/slide_analysis/figures
scripts/pygenelab/__pycache__/*
scripts/*/Output/*